<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Interactive Chatbot Scheduling</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/index.css">


<body>

  <ul class="ul">
    <li class="active" href="#home">Home</li>
    <li href="#about">About</li>
    <li href="#contact">Contact</li>
  </ul>

  <div class="center">
    <h1>Interactive Chatbot Scheduling</h1>
    <button class="button" onClick="displayScreen()">Chat</button>
  </div>

  <div id="chatScreen">
    <img src="https://www.iconninja.com/files/148/341/227/telegram-send-chat-media-message-icon.svg" alt="Send button">
  </div>

  <script>
    function displayScreen() {
      location.href="../chatbot.html"
    }
  </script>

</body>
</html>
